<div class="messages container">
  <div class="row">
    <div class="col-sm-4" 
      *ngFor="let product of products | async">
        <div class="card">

          
          <img class="card-img-top" src="http://lorempixel.com/320/200/nature" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{product.content}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">$200.00</a>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="message">
        {{product.content}}
        <span class="time">{{product.date_created}}</span>
      </div>
      <div class="photo col col-md-1" >
      </div> -->
</div>