<div class="messages container">
  <div class="row">
    <div class="col-sm-3 prod" 
      *ngFor="let product of products | async">
        <div class="card" (click)="goTo(product.$key)">

          
          <img class="card-img-top" *ngIf="product.photos" [src]="product.photos[0].url" alt="Card image cap">
          <img class="card-img-top" *ngIf="!product.photos" src="./assets/no-photo.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{product.title}}</h4>
            <span class="btn btn-primary">${{product.price}}</span>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="message">
        {{product.content}}
        <span class="time">{{product.date_created}}</span>
      </div>
      <div class="photo col col-md-1" >
      </div> -->
</div>