.btn.btn-primary {
    background-color: #775c9a;
    border: 0;
}

p.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9em;
    text-align: justify;
}

.card {
    display:block;
    height:100%;
    overflow:hidden;
    padding: 5px;
}

.card-title {
    font-size: 1rem;
    margin: 10px;
}

.card-img-top {
    position: relative;
    width: 100%;/* height will follow within image ratio */
    height:auto;/* to overrride attribute height set in tag */
    vertical-align:middle;
}

.prod {
    margin-bottom: 1rem;
}

@media (max-width: 991.98px) { 
    .btn {
        width: 100%;
        font-size: 1.5rem;
    }
 }