@font-face {
    font-family: "Wish MF";
    src: url("./fonts/wishmf-webfont.ttf");
    src: 
    url("./fonts/wishmf-webfont.woff") format("woff"),
    url("./fonts/wishmf-webfont.woff2") format("wof2");
}

html {
    font-size: 1.3em;
}

.sm-font {
    font-family: 'Wish MF';
    font-size: 2em;
}

body.sailor-moon {
    background-color: #35385a;
}