.mastfoot {
    position: absolute;
    bottom: 0px;
    width: 96%;
    overflow: hidden;
}

.masthead-brand {
    text-align: left;
}
sailor {
    padding-bottom: 86px;
}
.nav {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5rem;
}