:focus { outline: none; }
.mastfoot {
    position: absolute;
    bottom: 0px;
    width: 96%;
    overflow: hidden;
    color: white;
}

.masthead-brand {
    text-align: center;
}
.masthead-brand img {
    width: 200px;
}
.display-5 {
    color: white;
}
.nav {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.nav a {
    color: #999fc1;
    text-shadow: 2px 3px 6px #17161f;
}

@media (max-width: 991.98px) { 
    .masthead-brand img {
        width: 100px;
    }
 }

 @media (max-width: 767.98px) { 
    .display-5 {
        font-size: 2rem;
    }
 }