.mastfoot {
    position: absolute;
    bottom: 0px;
    width: 96%;
    overflow: hidden;
    color: white;
}

.masthead-brand {
    text-align: center;
}
.display-4 {
    color: white;
}
.nav {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.nav a {
    color: #999fc1;
    text-shadow: 2px 3px 6px #17161f;
}