<div class="container">
  <div class="card card-container" *ngIf="!(authService.user | async)">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" #signIn="ngForm">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" 
            [(ngModel)]="email"
            id="inputEmail" 
            name="email"
            class="form-control" 
            placeholder="Usuario" 
            required autofocus>
          <input 
            [(ngModel)]="password"
            type="password" 
            id="inputPassword" 
            name="password"
            class="form-control" 
            placeholder="Contraseña" 
            required>
          <button 
            class="btn btn-lg btn-primary btn-block btn-signin" 
            [disabled]="!email || !password"
            (click)="loginSubmit()">Iniciar sesion</button>
      </form>
  </div><!-- /card-container -->
</div><!-- /container -->
<div class="container" *ngIf="(authService.user | async)">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Busqueda">
    </div>
    <a class="btn btn-default" routerLink="new">Nuevo</a>
    <button type="button" class="btn btn-default" (click)="logout()" *ngIf="authService.user | async">Cerrar sesion</button>
  </form>
  <br />
  <div class="row product-grid"
  *ngFor="let product of products | async">
    <div class="col text-left">
        <h5 class="mb-1">{{product.title}}</h5>
        <small>{{product.price}}</small>
        
    </div>
    <div class="col-2">
      <button type="button" routerLink="edit/{{product.$key}}" class="btn btn-primary btn-sm">Edit</button>
      <button type="button" (click)="delete(product.$key)" class="btn btn-secondary btn-sm">Delete</button>
    </div>
    <hr />
  </div>
    
  
</div>